html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  /* outline: 0.5px dashed rgba(187, 187, 187, 0.436); */
  --clr-gray-lt: #bb8bb811;
  --clr-yellow-lt: #fdf9e3;
  --clr-yellow-drk: #655604;
  --clr-yellow-mdm: #ab920844;
  --clr-yellow-mdmdrk: #554904;
  --clr-yellow-drkdrk: #2E2702;
  /* color: black; */
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
